* {
  margin: 0;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Homepage {
    border-bottom: 1px solid grey;
  }

  .CasinoDetails {
    border-bottom: 1px solid grey;
  }
}
